<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <title>{{ .title }}</title>

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link href="/assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/css/solid.min.css" rel="stylesheet">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <link href="/assets/css/theme.css" rel="stylesheet" />

    <script type="module">
        import AlpineI18n from '/assets/js/alpinejs-i18n.js'
        document.addEventListener('alpine:init', () => {
            window.Alpine.plugin(AlpineI18n)
        })
    </script>

    <script src="/assets/js/dragselect.min.js"></script>
    <script defer src="/assets/js/persist.min.js"></script>
    <script defer src="/assets/js/alpine.min.js"></script>
    <script src="/assets/js/utils.js"></script>
    <script src="/assets/js/mountain.js"></script>
</head>

<body class="g-sidenav-show bg-gray-100" x-data="{ config: {
    sort: {
        by: $persist('name'),
        order: $persist(0),
        group: $persist(true),
    },
    view: {
        as: $persist('tiles'),
        navigation: $persist(true),
        preview: $persist(false),
        ext: $persist(true)
    }, 
    select: {
        click: $persist(isTouchDevice() ? 'browse' : 'select'),
        deselectOnTapOutside: $persist(false)
    },
    language: $persist('language')
}, ...startInstance()}" x-init="goto(getStartUrl())" {{template "kbshortcut" .}}
    onload="document.body.style.opacity='1'">
    <div class="container-fluid ps-0 pe-0">
        {{template "header" .}}

        <div class="container-xxl mt-5 mb-5 d-none d-md-block" data-scroll="false">
            <div class="row ">
                {{template "breadcrum" .}}
                {{template "controls" .}}
            </div>
        </div>

        <div class="container-xxl mt-4 mb-4 d-md-none" data-scroll="false">
            <div class="row ">
                {{template "breadcrum" .}}
            </div>
        </div>

        <div class="container-xxl mb-4 d-md-none" data-scroll="false">
            <div class="row ">
                <div class="col"></div>
                {{template "controls" .}}
            </div>
        </div>

        <div class="container-fluid mt-0 mb-0 h-100 min-vh-100" id="dragArea">
            {{template "files" .}}
        </div>


        {{template "footer" .}}
        {{template "modals" .}}
        {{template "toast" .}}
</body>

</html>