{{define "compressModal"}}
<div class="modal" id="compressModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" x-text="$t('controls.compress')"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="form-label" x-text="$t('modals.compress.fileName')"></label>
                <div class="ps-1 pe-1">
                    <input class="form-control" id="compressFileName">
                </div>
                <label class="form-label mt-3" x-text="$t('modals.compress.format')"></label>
                <select class="form-select" x-bind:aria-label="$t('modals.compress.format')">
                    <option value="zip" selected>Zip (.zip)</option>
                    <option value="tar.gz">Tar & Gzip (.tar.gz)</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" x-text="$t('modals.close')" class="btn btn-secondary"
                    data-bs-dismiss="modal"></button>
                <button type="submit" x-text="$t('modals.compress.submit')" class="btn btn-primary"
                    @click="compressSelected()"></button>
            </div>
        </div>
    </div>
</div>
{{end}}