{{define "newFolderModal"}}
<div class="modal" id="newFolderModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" x-text="$t('modals.newFolder.title')"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="newFolderInput" type="text" class="form-control"
                    x-bind:placeholder="$t('modals.newFolder.namePlaceholder')" autofocus required>
            </div>
            <div class="modal-footer">
                <button x-text="$t('modals.close')" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal"></button>
                <button x-text="$t('modals.newFolder.submit')" type="submit" class="btn btn-primary"
                    @click="createFolder()"></button>
            </div>
        </div>
    </div>
</div>
{{end}}