{{define "shortcutModal"}}
<div class="modal" id="shortcutModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" x-text="$t('header.about.shortcuts')"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th x-text="$t('header.select.title')" scope="col" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">A</div>
                            </td>
                            <td x-text="$t('header.select.all')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">I</div>
                            </td>
                            <td x-text="$t('header.select.invert')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Esc</div>
                            </td>
                            <td x-text="$t('header.select.none')"></td>
                        </tr>
                        <tr x-show="false">
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">P</div>
                            </td>
                            <td x-text="$t('search.title')"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2" x-text="$t('modals.shortcuts.operations')"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">R</div>
                            </td>
                            <td x-text="$t('modals.rename.title')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">X</div>
                            </td>
                            <td x-text="$t('modals.selectDestination.move')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">C</div>
                            </td>
                            <td x-text="$t('modals.selectDestination.copy')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Backspace</div> /
                                <div class="badge bg-secondary">Delete</div>
                            </td>
                            <td x-text="$t('modals.delete.title')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">D</div>
                            </td>
                            <td x-text="$t('controls.download')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">U</div>
                            </td>
                            <td x-text="$t('controls.upload')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">N</div>
                            </td>
                            <td x-text="$t('modals.newFolder.title')"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="badge bg-secondary">Ctrl</div>
                                <div class="badge bg-secondary">Shift</div>
                                <div class="badge bg-secondary">N</div>
                            </td>
                            <td x-text="$t('modals.newFile.title')"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}}