<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <title>{{ .title }}</title>

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link href="/assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/css/solid.min.css" rel="stylesheet">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <link href="/assets/css/theme.css" rel="stylesheet" />

    <script src="/assets/js/alpine.min.js" defer></script>
    <script src="/assets/js/mountain.js"></script>
</head>

<body class="g-sidenav-show bg-gray-100" x-data="startInstance()" x-init="goto(getStartUrl())">
    <header class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top bg-primary">
        <div class="container-xxl pe-0">
            <div class="row w-100">
                <div class="col-auto">
                    <a href="https://mountain.help14.com" class="navbar-brand p-0 me-0 me-lg-2">
                        <img src="/assets/img/mountain.png" style="height: 32px" />
                    </a>
                </div>
                <div class="col">
                    <div class="d-flex align-items-center">
                        <div class="dropdown ms-2 me-2">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa fa-solid fa-sort ms-1 me-1"></i> Sort
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="dropdown-item" :class="{active:config.sort.by==='name'}"
                                        type="button">
                                        <i class="fa fa-solid fa-font ms-1 me-1"></i> Name
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item" :class="{active:config.sort.by==='date'}"
                                        type="button">
                                        <i class="fa fa-solid fa-calendar ms-1 me-1"></i> Date modified
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item" :class="{active:config.sort.by==='type'}"
                                        type="button">
                                        <i class="fa fa-solid fa-file-signature ms-1 me-1"></i> Type
                                    </button>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <button class="dropdown-item" :class="{active:config.sort.order===0}" type="button">
                                        <i class="fa fa-solid fa-arrow-down-a-z ms-1 me-1"></i> Ascending
                                    </button>
                                    <button class="dropdown-item" :class="{active:config.sort.order===1}" type="button">
                                        <i class="fa fa-solid fa-arrow-up-a-z ms-1 me-1"></i> Descending
                                    </button>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <button class="dropdown-item" :class="{active:config.sort.group}" type="button">
                                        <i class="fa fa-solid fa-object-ungroup ms-1 me-1"></i> Group by type
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown ms-2 me-2">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa fa-solid fa-eye ms-1 me-1"></i> View
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="dropdown-item" :class="{active:config.view.as==='list'}"
                                        type="button">
                                        <i class="fa fa-solid fa-list ms-1 me-1"></i> List
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item" :class="{active:config.view.as==='tiles'}"
                                        type="button">
                                        <i class="fa fa-solid fa-grip ms-1 me-1"></i> Tiles
                                    </button>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <button class="dropdown-item" :class="{active:config.view.navigation}"
                                        type="button">
                                        <i class="fa fa-solid fa-folder-tree ms-1 me-1"></i> Navigation panel
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item" :class="{active:config.view.preview}" type="button">
                                        <i class="fa fa-solid fa-magnifying-glass ms-1 me-1"></i> Preview panel
                                    </button>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <button class="dropdown-item" :class="{active:config.view.ext}" type="button">
                                        <i class="fa fa-solid fa-file-code ms-1 me-1"></i> Name extension
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown ms-2 me-2">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa fa-solid fa-object-group ms-1 me-1"></i> Select
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="dropdown-item" type="button">
                                        <i class="fa fa-solid fa-border-none ms-1 me-1"></i> Select none
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item" type="button">
                                        <i class="fa fa-solid fa-border-all ms-1 me-1"></i> Select all
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item" type="button">
                                        <i class="fa fa-solid fa-border-top-left ms-1 me-1"></i> Invert selected
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="input-group">
                            <span class="input-group-text text-body">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Type here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-xxl mt-5 mb-5" data-scroll="false">
        <div class="row">
            <div class="btn-group col-auto flex-wrap" role="group" aria-label="Navigation">
                <template x-for="(bc, index) in breadcrumbs">
                    <button type="button" class="btn mb-0 btn-light" x-on:click="goto(bc.path)" x-html="bc.name"
                        aria-current="page"></button>
                </template>
            </div>
            <div class="col"></div>
            <div x-show="opsToolbar" class="col-auto me-auto align-self-end">
                <button type="button" class="btn mb-0 btn-light btn-ops" title="Rename selected">
                    <i class="fa fa-solid fa-i-cursor"></i>
                </button>
                <button type="button" class="btn mb-0 btn-light btn-ops" title="Copy selected">
                    <i class="fa fa-solid fa-copy"></i>
                </button>
                <button type="button" class="btn mb-0 btn-light btn-ops" title="Move selected">
                    <i class="fa fa-solid fa-share"></i>
                </button>
                <button type="button" class="btn mb-0 btn-light btn-ops text-danger" title="Delete selected">
                    <i class="fa fa-solid fa-trash"></i>
                </button>
            </div>
            <div class="col-auto me-auto align-self-end border-start">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" title="Create new ...">
                        <i class="fa fa-solid fa-plus"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">📁 Folder</a></li>
                        <li><a class="dropdown-item" href="#">📄 Text file</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout h-auto position-relative" aria-live="polite"
        aria-atomic="true">
        <div class="row w-auto h-auto" x-show="!emptyFolder">
            <template x-for="file in files">
                <div class="col-xl-3 col-sm-6 d-grid mt-2 mb-2">
                    <button type="button" class="btn btn-light"
                        :class="{'btn-light': !file.selected, 'btn-primary': file.selected}"
                        @click="file.selected=!file.selected;showOps()" @dblclick="if(file.directory) goto(file.path)">
                        <div class="row p-1 d-flex">
                            <div class="col-3 align-middle fs-2 align-self-center"
                                x-text="`${file.directory ? '📁' : '📄'}`">
                            </div>
                            <div class="col-8 fs-6 text-start text-wrap text-break align-middle align-self-center"
                                x-text="file.name">
                            </div>
                        </div>
                    </button>
                </div>
            </template>
        </div>
        <div class="row p-5" x-show="emptyFolder">
            <div class=" font-medium fs-1 text-xl truncate text-secondary text-center">
                <i class="fa fa-regular fa-face-smile-wink"></i>
            </div>
            <div class="font-medium fs-1 text-xl truncate text-secondary text-center">
                This folder is empty
            </div>
        </div>

        <div class="toast-container top-0 end-0 p-3"></div>
    </div>

    <footer class="footer fixed-bottom bg-light">

    </footer>
</body>

</html>