{{define "files"}}
<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout h-auto">
    <div class="row w-auto h-auto" x-show="!emptyFolder" x-transition>
        <template x-for="file in files">
            <div class="col-xl-3 col-sm-6 d-grid mt-2 mb-2" x-transition>
                <button type="button" class="btn btn-light"
                    :class="{'btn-light': !file.selected, 'btn-primary': file.selected}"
                    @click="if(!multipleSelect){select('none');}file.selected=!file.selected;showOps()"
                    @dblclick="if(file.directory){goto(file.path);}">
                    <div class="row p-1 d-flex">
                        <div class="col-3 align-middle fs-2 align-self-center"
                            x-text="`${file.directory ? '📁' : '📄'}`"></div>
                        <div class="col-8 fs-6 text-start text-wrap text-break align-middle align-self-center"
                            x-text="file.name"></div>
                    </div>
                </button>
            </div>
        </template>
    </div>
    <div class="row p-5" x-show="emptyFolder" x-transition>
        <div class=" font-medium fs-1 text-xl truncate text-secondary text-center align-self-end">
            <i class="fa fa-regular fa-face-smile-wink"></i>
        </div>
        <div class="font-medium fs-1 text-xl truncate text-secondary text-center">
            This folder is empty
        </div>
    </div>
</div>
{{end}}