{{define "header"}}
<header class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top bg-primary">
    <div class="container-xxl pe-0">
        <div class="row w-100">
            <div class="col-auto d-none d-md-block">
                <a href="https://mountain.help14.com" class="navbar-brand p-0 me-0 me-lg-2">
                    <img src="/assets/img/mountain.png" style="height: 32px" />
                </a>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">

                    <!-- Sort  -->

                    <div class="dropdown ms-2 me-2">
                        <button class="btn btn-primary dropdown-toggle d-none d-md-block" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html="`<i class='fa fa-solid fa-sort ms-1 me-1'></i> ${$t('header.sort.title')}`">
                        </button>
                        <button class="btn btn-primary dropdown-toggle d-md-none" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html="`<i class='fa fa-solid fa-sort ms-1 me-1'></i>`">
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" @click="config.sort.by='name';goto(path)"
                                    :class="{active:config.sort.by==='name'}" type="button"
                                    x-html='`<i class="fa fa-solid fa-font ms-1 me-1"></i> ${$t("header.sort.name")}`'>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" @click="config.sort.by='date';goto(path)"
                                    :class="{active:config.sort.by==='date'}" type="button"
                                    x-html='`<i class="fa fa-solid fa-calendar ms-1 me-1"></i> ${$t("header.sort.date")}`'>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" @click="config.sort.by='type';goto(path)"
                                    :class="{active:config.sort.by==='type'}" type="button"
                                    x-html='`<i class="fa fa-solid fa-file-signature ms-1 me-1"></i> ${$t("header.sort.type")}`'>
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" @click="config.sort.order=0;goto(path)"
                                    :class="{active:config.sort.order===0}" type="button"
                                    x-html='`<i class="fa fa-solid fa-arrow-down-a-z ms-1 me-1"></i> ${$t("header.sort.asc")}`'>
                                </button>
                                <button class="dropdown-item" @click="config.sort.order=1;goto(path)"
                                    :class="{active:config.sort.order===1}" type="button"
                                    x-html='`<i class="fa fa-solid fa-arrow-up-a-z ms-1 me-1"></i> ${$t("header.sort.des")}`'>
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" @click="config.sort.group=!config.sort.group;goto(path)"
                                    :class="{active:config.sort.group}" type="button"
                                    x-html='`<i class="fa fa-solid fa-object-ungroup ms-1 me-1"></i> ${$t("header.sort.group")}`'></button>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- View -->

                    <div class="dropdown ms-2 me-2">
                        <button class="btn btn-primary dropdown-toggle d-none d-md-block" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html="`<i class='fa fa-solid fa-eye ms-1 me-1'></i> ${$t('header.view.title')}`">
                        </button>
                        <button class="btn btn-primary dropdown-toggle d-md-none" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html="`<i class='fa fa-solid fa-eye ms-1 me-1'></i>`">
                        </button>
                        <ul class="dropdown-menu">
                            <li x-show="false">
                                <button class="dropdown-item" @click="showToast('not implemented 😂')"
                                    :class="{active:config.view.as==='list'}" type="button"
                                    x-html='`<i class="fa fa-solid fa-list ms-1 me-1"></i> ${$t("header.view.list")}`'>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" @click="config.view.as='tiles'"
                                    :class="{active:config.view.as==='tiles'}" type="button"
                                    x-html='`<i class="fa fa-solid fa-grip ms-1 me-1"></i> ${$t("header.view.tiles")}`'>
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" @click="config.view.navigation=!config.view.navigation"
                                    :class="{active:config.view.navigation}" type="button"
                                    x-html='`<i class="fa fa-solid fa-folder-tree ms-1 me-1"></i> ${$t("header.view.navigation")}`'>
                                </button>
                            </li>
                            <li x-show="false">
                                <button class="dropdown-item" @click="showToast('not implemented 😂')"
                                    :class="{active:config.view.preview}" type="button"
                                    x-html='`<i class="fa fa-solid fa-magnifying-glass ms-1 me-1"></i> ${$t("header.view.preview")}`'>
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" @click="config.view.ext=!config.view.ext;goto(path)"
                                    :class="{active:config.view.ext}" type="button"
                                    x-html='`<i class="fa fa-solid fa-file-code ms-1 me-1"></i> ${$t("header.view.extension")}`'>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- Select -->

                    <div class="dropdown ms-2 me-2">
                        <button class="btn btn-primary dropdown-toggle d-none d-md-block" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html='`<i class="fa fa-solid fa-object-group ms-1 me-1"></i> ${$t("header.select.title")}`'>
                        </button>
                        <button class="btn btn-primary dropdown-toggle d-md-none" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html='`<i class="fa fa-solid fa-object-group ms-1 me-1"></i>`'>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" type="button" @click="select('all')"
                                    x-html='`<i class="fa fa-solid fa-border-all ms-1 me-1"></i> ${$t("header.select.all")}`'>
                                </button>
                            </li>
                            <li>
                                <button id="selectNone" class="dropdown-item" type="button" @click="select('none')"
                                    x-html='`<i class="fa fa-solid fa-border-none ms-1 me-1"></i> ${$t("header.select.none")}`'>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" @click="select('invert')"
                                    x-html='`<i class="fa fa-solid fa-border-top-left ms-1 me-1"></i> ${$t("header.select.invert")}`'>
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" @click="clickMode('browse')"
                                    :class="{active:config.select.click==='browse'}"
                                    x-html='`<i class="fa fa-regular fa-folder-open ms-1 me-1"></i> ${$t("header.select.clickBrowse")}`'>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" @click="clickMode('select')"
                                    :class="{active:config.select.click==='select'}"
                                    x-html='`<i class="fa fa-solid fa-check-double ms-1 me-1"></i> ${$t("header.select.clickSelect")}`'>
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button id="emptyClickDeselect" class="dropdown-item" type="button"
                                    @click="config.select.deselectOnTapOutside=!config.select.deselectOnTapOutside"
                                    :class="{active:config.select.deselectOnTapOutside}"
                                    x-html='`<i class="fa fa-regular fa-hand-point-up ms-1 me-1"></i> ${$t("header.select.outsideDeselect")}`'>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- Setting -->

                    <div class="dropdown ms-2 me-2">
                        <button class="btn btn-primary dropdown-toggle d-none d-md-block" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html='`<i class="fa fa-solid fa-gear ms-1 me-1"></i> ${$t("header.setting.title")}`'>
                        </button>
                        <button class="btn btn-primary dropdown-toggle d-md-none" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html='`<i class="fa fa-solid fa-gear ms-1 me-1"></i>`'>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                    data-bs-target="#languageModal"
                                    x-html='`<i class="fa fa-solid fa-language ms-1 me-1"></i> ${$t("header.setting.language")}`'>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- About -->

                    <div class="dropdown ms-2 me-2">
                        <button class="btn btn-primary dropdown-toggle d-none d-md-block" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html='`<i class="fa fa-solid fa-info ms-1 me-1"></i> ${$t("header.about.title")}`'>
                        </button>
                        <button class="btn btn-primary dropdown-toggle d-md-none" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            x-html='`<i class="fa fa-solid fa-info ms-1 me-1"></i>`'>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                    data-bs-target="#shortcutModal"
                                    x-html='`<i class="fa fa-solid fa-keyboard ms-1 me-1"></i> ${$t("header.about.shortcuts")}`'>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button"
                                    onclick="window.open('http://mountain.help14.com','_blank')"
                                    x-html='`<i class="fa fa-solid fa-book-open ms-1 me-1"></i> ${$t("header.about.documentation")}`'>
                                </button>
                            </li>
                            <li x-show="false">
                                <hr class="dropdown-divider">
                            </li>
                            <li x-show="false">
                                <button class="dropdown-item" type="button"
                                    onclick="window.open('http://mountain.help14.com','_blank')"
                                    x-html='`<i class="fa fa-solid fa-crown ms-1 me-1 text-warning"></i> ${$t("header.about.premium")}`'>
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" type="button"
                                    onclick="window.open('https://github.com/help-14/mountain/releases','_blank')"
                                    x-html='`<i class="fa fa-solid fa-wrench ms-1 me-1"></i> ${$t("header.about.update")}`'>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="input-group" x-show="false">
                        <span class="input-group-text text-body">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                        <input id="searchBox" type="text" class="form-control"
                            x-bind:placeholder='$t("search.placeholder")'>
                    </div>
                    <div class="dropdown ms-2 me-2">
                        <button class="btn btn-primary dropdown-toggle d-none d-md-block" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false" @click="showTasks()"
                            x-html="`<i class='fa fa-solid fa-hammer ms-1 me-1 no-jiggle'></i> ${$t('header.tasks.title')}`">
                        </button>
                        <button class="btn btn-primary dropdown-toggle d-md-none" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false" @click="showTasks()"
                            x-html="`<i class='fa fa-solid fa-hammer ms-1 me-1'></i>`">
                        </button>
                        <ul class="dropdown-menu">
                            <template x-for="task in tasks">
                                <li>
                                    <button class="dropdown-item" type="button">
                                        <div class="row">
                                            <div class="col-auto">
                                                <i class="fa-solid fa-play text-primary"
                                                    x-show="task.status==='processing'"></i>
                                                <i class="fa-solid fa-pause" x-show="task.status==='pending'"></i>
                                                <i class="fa-solid fa-check text-success"
                                                    x-show="task.status==='completed'"></i>
                                                <i class="fa-solid fa-x text-danger"
                                                    x-show="task.status==='failed'"></i>
                                            </div>
                                            <div class="col-auto ps-0">
                                                <p class="mb-0 ms-0" x-text="$t(`controls.${task.operation}`)"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="mb-0 text-break text-secondary fst-italic" x-text="task.from"
                                                    x-show="task.operation==='rename'">
                                                </p>
                                                <p class="mb-0 text-break text-secondary fst-italic" x-text="task.to"
                                                    x-show="task.operation==='copy'||task.operation==='move'">
                                                </p>
                                                <p class="mb-0 text-break text-secondary fst-italic" x-text="task.path"
                                                    x-show="task.operation==='delete'||task.operation==='compress'"></p>
                                            </div>
                                        </div>
                                    </button>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{end}}